<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Question</h1>
    <form action="/<%= dev.id %>/devtoolview?_method=PUT" method="POST">
        Type: <input type="text" name="type" value="<%= dev.type %>"/><br />
        Name: <input type="text" name="name" value="<%= dev.name %>"/><br />
        Description: <input type="text" name="description" value="<%= dev.description %>"/><br />
        A: <input type="text" name="a" value="<%= dev.a %>"/><br />
        B: <input type="text" name="b" value="<%= dev.b %>"/><br />
        C: <input type="text" name="c" value="<%= dev.c %>"/><br />
        D: <input type="text" name="d" value="<%= dev.d %>"/><br />
        Answer: <input type="text" name="answer" value="<%= dev.answer %>"/><br />
        <input type="submit" name="" value="Edit Question" />
    </form>
</body>
</html>