<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul>
        <% scriptCodes.forEach(code => { %>
        <li>
            <% if(!admin) { %>
            <a href="/<%= code.id %>/javascriptcode">
                <p><%= code.name%> </p>

                <% }else { %>
                    <a href="/<%= code.id %>/javascriptcode">
                        <p><%= code.name%> </p>
                        <form action="/<%= code.id %>/javascriptcode?_method=DELETE" method="POST"
                            style="display: inline; margin-left: 16px;">
                            <input type="submit" value="DELETE" />
                        </form>
                        <a href="/61d8dba87557c55c5353fa7f/javascript/<%= code.id %>/edit"><button>Edit</button></a>
               <% } %>
                
        </li>
        <% }) %>
    </ul>
</body>

</html>